.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Anpassa höjden efter behov
}

.left {
  flex: 1;
  padding: 20px;
}

.right {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px; // Justera gapet mellan bilderna
  
}

.image {
  width: 45%; // Anpassa bredden på bilderna efter behov
  max-width: 100%; // Förhindra att bilder blir större än sin ursprungliga storlek
}