.container {
 
  display: flex; /*nu sitter left och right bredvid varandra */
  justify-content: center; /*vi centrerar båda i mitten av horisontella axen */

  .left {
    border: solid 1px black;
    margin-top: 300px;
    
  }

.right {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 50px;
  padding: 150px;
  margin-left: 500px;
 
  
    .child{
      padding: 20px;
      border: 1px solid rgb(53, 22, 126);
    }
  }
}