.container {
  position: relative;
}
.container .box {
  position: absolute;
  z-index: 1;
  border: solid 2px 140;
  padding: 50px;
  height: 100px;
  width: 100px;
  background-color: #170d8c;
  top: 200px;
}
.container .image2 {
  z-index: 2;
  top: 0;
  left: 0;
}