.container {
  position: relative;
  

.box {
  position: absolute;
  z-index: 1; // Image 1 kommer att vara under Image 2
  border: solid 2px blue($color: #170d8c);
  padding: 50px;
  height: 100px;
  width: 100px;
  background-color: #170d8c;
  top: 200px;
}

.image2 {
  z-index: 2; // Image 2 kommer att vara överst
  top: 0;
  left: 0;
}
}